
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background: linear-gradient(to right, #560BAD, #B5179E);
}

.navbar-brand, .nav-link, .dropdown-item {
    color: black;
}

.navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
    color: #4CC9F0;
}

.btn {
    background: linear-gradient(to right, #B5179E, #4895EF);
    color: #fff;
    border: none;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: linear-gradient(to right, #B5179E, #4CC9F0);
}


.carousel-item {
    height: 70vh; 
    background-color: #3A0CA3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    
}

.carousel-caption {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.carousel-caption h5 {
    font-size: 2rem;
    color: #fff;

}

.carousel-caption p {
    color: #f0f0f0;
}


#events .card {
    border: none;
    background: linear-gradient(to bottom, #3A0CA3, #B5179E);
    color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

#events .card:hover {
    transform: scale(1.05);
}

#events .btn {
    background: #4CC9F0;
    color: #fff;
}

#events .btn:hover {
    background: #4895EF;
}


#about {
    background: linear-gradient(to right, #B5179E, #7209B7);
    color: #fff;
    padding: 60px 0;
    text-align: center;
}


#contact {
    background: linear-gradient(to right, #480CA8, #B5179E);
    color: #fff;
    padding: 60px 0;
}

#contact .form-control {
    background: #fff;
    border: 1px solid #4CC9F0;
    border-radius: 5px;
    color: #333;
}

#contact .btn {
    background: linear-gradient(to right, #4361EE, #B5179E);
    color: #fff;
}


footer {
    background: linear-gradient(to right, #3A0CA3, #4CC9F0);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#inscription {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

#inscription form {
    width: 50%; 
    max-width: 500px; 
    margin: 0 auto; 
}

#inscription .form-control,
#inscription select.form-select {
    background: #fff;
    border: 1px solid #4CC9F0;
    border-radius: 50px;
    color: #333;
    height: 40px;
    font-size: 0.9rem;
    padding: 0 15px;
    margin-bottom: 15px;
}

#inscription .btn {
    background: linear-gradient(to right, #B5179E, #4CC9F0);
    color: #fff;
    border: none;
    font-size: 0.8rem;
    padding: 8px 20px;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}
#reservationModal .modal-dialog {
    max-width: 50%;  
}

#reservationModal .modal-body {
    padding: 30px;
}

#reservationModal .form-control {
    margin-bottom: 15px;
}

#reservationModal button[type="submit"] {
    width: 100%;
}

